.menu {
  padding: 10px 12px 10px 10px;
  background-color: #262b40;
  position: relative;
  display: flex;
  border-bottom-left-radius: 10px;
  user-select: none;

  .button {
    &:hover {
      svg:not(.disabled) {
        color: #d1daff;
      }
    }

    svg {
      color: #b0bcf7;
      font-size: 1.5rem;
      margin: 0 5px;
      cursor: pointer;

      &.disabled {
        color: #7b84b0;
        cursor: default;
      }
    }
  }

  .description {
    display: none;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;

    .cleanup {
      height: 10px;
      background-color: #262b40;
    }

    .inner {
      height: 50px;
      padding: 5px 10px;
      background-color: #30364f;
      border-bottom-left-radius: 10px;

      .title {
        color: #d1daff;
        font-weight: 600;
      }

      .shortcut {
        color: #b0bcf7;
        font-size: 11px;
      }
    }
  }

  .button:hover {
    .description {
      display: block;
    }
  }
}