.stats {
  padding: 10px 16px 10px 14px;
  background-color: #262b40;
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  color: #b0bcf7;
  align-items: center;
  font-weight: 600;
  user-select: none;

  .stat {
    margin-right: 10px;

    svg {
      margin-right: 8px;
    }
  }
}